version: '3'

services:
  mysql:
    restart: always
    container_name: mysql_container
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"
